@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Molle:ital@1&family=Monoton&family=Permanent+Marker&family=Shrikhand&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

@mixin RegModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

@mixin box() {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4px 0;
}

@mixin input($width) {
    width: $width;
    height: 40px;
    margin: 6px 0;
    padding-left: 10px;
    border: none;
    outline: none;
    transition: background-color 0.1s ease-in;
    border-radius: 5px;
}

@mixin btn($btnColor) {
    border: none;
    background-color: $btnColor;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    &:hover {
        background-color: lighten($btnColor, 10%);
    }
}

$btnColor: rgb(85, 85, 176);

.nav {
    display: flex;
    align-items: center;
    background-color: rgba(47, 100, 170, 0.514);
    height: 60px;
    width: 100%;
    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        i {
            margin: 0 10px;
            font-size: 2rem;
            color: rgb(36, 123, 200);
        }
        p {
            font-size: 1.5rem;
            font-family: 'Ubuntu', sans-serif;
        }
    }
    .menu {
        height: 100%;
        margin: 0 10px 0 auto;
        button {
            height: 100%;
            width: 100px;
            border: none;
            background-color: rgba(71, 100, 126, 0.123);
            color: rgb(13, 49, 121);
            font-weight: bold;
            font-size: 1.1rem;
            font-family: 'Ubuntu', sans-serif;
            &:hover {
                background-color: rgb(52, 105, 173);
                color: white
            }
        }
    }
}

.RegModal {
    @include RegModal;
    // display: block;
}    


.Reg-modal-content {
    height: 800px;
    width: 700px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 227, 227);
    margin: 10% auto;
    box-shadow: 5px 5px 5px 5px gray;
    animation: fade 1s;
    border-radius: 7px;
    font-family: 'Ubuntu', sans-serif;
    .form {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0;
    }
    .close {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 2rem;
        color: gray;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
}

@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}


.name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .fname {
        width: 49%;
    }
    .lname {
        width: 49%;
    }
    input {
        @include input(100%);
    }
}

.birth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    input {
        @include input(48%);
    }
}
.contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .email {
        width: 49%;
    }
    .phone {
        width: 49%;
    }
    input {
        @include input(100%);
    }
}

.address {
    input {
        @include input(100%);
    }
    input[placeholder="City"], input[placeholder="State / Province"] {
        width: 49%;
    }
    .Addressbottom {
        width: 100%;
    }
    .boxCity {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.courseTitle {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    font-size: 1.5rem;
}

.class {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px
}

#register {
    @include btn($btnColor);
}

.select {
    width: 50%;
    select {
        width: 100%;
        height: 35px;
        border: none;
        outline: none;
        border-radius: 5px
    }
}

.Password {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    input {
        @include input(70%);
    }
    #passBtn {
        height: 40px;
        border: none;
        outline: none;
        font-family: 'Ubuntu', sans-serif;
        background-color: $btnColor;
        color: white;
        border-radius: 5px;
        padding: 0 15px;
        &:hover {
            background-color: lighten($btnColor,10%);
        }
    }
}

@media screen and (max-width:800px) {
    .Reg-modal-content {
        width: 450px;
        margin-top: 100px;
    }
}
@media screen and (max-width:500px) {
    .Reg-modal-content {
        width: 450px;
        margin-top: 100px;
    }
    .boxCity {
        display: flex;
        flex-direction: column;
        input[placeholder="City"], input[placeholder="State / Province"] {
            width: 100%
        }
    }
    
}



.LogModal {
    @include RegModal;
    // display: block;
}

.Log-modal-content {
    height: 650px;
    width: 400px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 227, 227);
    margin: 10% auto;
    box-shadow: 5px 5px 5px 5px gray;
    animation: fade 1s;
    border-radius: 7px;
    font-family: 'Ubuntu', sans-serif;
    label {
        margin-bottom: 5px;
    }
    input {
        width: 100%;
        height: 35px;
        border: none;
        outline: none;
        transition: background-color .1s;
        border-radius: 5px;
        padding-left: 5px;
    }
    button {
        @include btn($btnColor);
    }
    .Close {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 2rem;
        color: gray;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
}

.Top {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
    width: 100%;
    height: 20%;
    h2 {
        font-size: 2rem;
    }
}

.bottom {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Box {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 5px;
    }
    input {
        width: 100%;
        margin: 8px 0;
        height: 40px;
    }
    .left {
        width: 10%;
    }
    .right {
        width: 90%;
    }
    button {
        margin-top: 20px;
    }
}

#passBox {
    margin-top: 20px;
    margin-bottom: 20px;
}

i {
    font-size: 1.2rem;
}

#remember {
    .left {
        text-align: center;
        width: 80%;
        p {
            background-color: rgb(231, 183, 25);
            padding: 10px;
            border-radius: 5px;
            &:hover {
                background-color: lighten(rgb(231, 183, 25),10%);
            }
        }
    }
    .right {
        width: 20%;
    }
    input {
        height: 1rem;
        width: 1rem;
        margin-left: 20px;
    }
}

@media screen and (max-width:800px) {
    .Log-modal-content {
        margin-top: 130px;
    }
}
